.messages {
  height: 68vh;
  overflow-y: scroll;
  margin-left: 25rem;
  position: relative;

  @include laptop {
    height: 65vh;
  }

  @include tablet {
    height: 60vh;
  }

  &__container {
    margin-left: 25rem;
    margin-right: 1.5rem;
    max-height: 100vh;
    position: relative;

    @include desktop {
      margin-left: 23rem;
      margin-right: 0;
    }

    @include laptop {
      margin-left: 21rem;
    }

    @include tablet-large {
      margin-right: 0;
    }

    @include tablet {
      margin-left: 9.5rem;
    }
  }

  &__header {
    @include laptop {
      display: flex;
      flex-direction: column;
    }
  }

  &__subheader {
    margin-left: 9px !important;
    margin-top: 9px !important;
  }

  &__channel {
    margin-bottom: 0;
  }
}
